language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
env:
  # Max django versions. 1.5 -> Django 1.4.X
  - DJANGO_VERSION=1.5
  - DJANGO_VERSION=1.6
  - DJANGO_VERSION=1.7
install:
  - pip install "Django<$DJANGO_VERSION"
script:
  - python setup.py test
matrix:
  exclude:
    - python: "3.3"
      env: DJANGO_VERSION=1.5
